@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  background-color: #0c0a10;
  font-family: "Inter", sans-serif;
}
.nav-part {
  margin-left: 10rem;
  margin-bottom: 2rem;
  max-width: 1068px;
}

.heading {
  color: #652cdf;
  text-align: left;
  position: relative;
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: bold;
}

.heading-text {
  margin-left: 60px;
}
.heading:before {
  content: "";
  display: block;
  width: 55px;
  height: 2px;
  border-radius: 20px;
  background: #652cdf;
  top: 50%;
  position: absolute;
}
.works {
  margin-top: 0px;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}

.main a {
  color: #858487;
  position: relative;
  text-decoration: none;
  font-size: 14px;
  margin: auto 5px auto 5px;
}
.main a:hover {
  color: #652cdf;
}

.main a:after {
  content: "";
  position: absolute;
  background-color: #652cdf;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.main a:hover:after {
  width: 60%;
}

.main {
  margin-left: 305px;
}
.link {
  text-decoration: none;
  cursor: pointer;
}
.card-part {
  margin-left: 10rem;
  margin-bottom: 2rem;
  max-width: 1068px;
}
.card-part2 {
    margin-left: 10rem;
    margin-bottom:2rem;
  max-width: 1068px;
}
.card1 {
  width: 285px;
  height: 383px;
  background-color: #131118;
  border-radius: 6px;
  align-items: left;
  margin-right: 40px;
  margin-bottom: 40px;
}
.card-desc {
  font-size: 15px;
  color: #652cdf;
}
.card-desc-sec {
  font-size: 15px;
  color: #858487;
  margin-bottom: 30px;
}
.card-data {
  padding-top: 20px;
  padding-left: 20px;
}
.keyword {
  padding: 7px;
  margin: 2px;
  border-radius: 4px;
  font-size: 12px;
  background-color: #2c3246;
  color: #858487;
}
.card-img {
  width: 245px;
  height: 162px;
  border-radius: 6px;
}
.image {
  padding-left: 20px;
  padding-top: 40px;
}
.float-child {
  float: left;
}
.float-child2 {
  float: left;
}
@media all and (max-width: 1024px) {
  .nav-part {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }
  .heading {
    margin-left: 15px;
  }
  .main::before {
    content: "\a";
    white-space: pre;
  }
  .main {
    margin-left: 10px;
  }
  .card-part {
    margin-left: 10rem;
    margin-bottom:2rem;
    max-width: 1068px;
  }
  .card1 {
    margin-bottom: 12px;
  }
}
/* @media only screen and (max-device-width:480px){
  .nav-part{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }
} */
html {
  font-size: 100%;
}
body {
  margin: 0 0 0 0;
  color: #40514e;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.navi {
  width: 100%;
  margin: 0 0 0 0;
}
header {
  width: 100%;
  position: absolute;
  text-align: center;
  font-weight: 700;
}
.container{
  margin-left:50px;
}
.child{
  float:left;
}
.love{
  margin:10px auto 10px 800px;
}
nav ul {
  margin: 0;
  list-style: none;
  padding: 0.125rem;
  display: flex;
  justify-content: center;
}
nav li {
  display: flex;
  margin-left: 3.125rem;
  padding-top: 1.25rem;
  position: relative;
}
nav a {
  color: #858487;
  text-decoration: none;
  font-size: 0.9rem;
}
nav a:hover {
  color: #652cdf;
}
nav li ::after {
  position: absolute;
  content: "";
  display: flex;
  height: 0.1875rem;
  width: 100%;
  background-color: #652cdf;
  top: 100%;
  width: 0%;
}

nav li :hover::after {
  width: 60%;
  transition: all ease-in-out 250ms;
}
.footylist{
 width:600px;
}
footer {
  width: 100%;
  font-weight: 700;
  margin-top: auto;
}
.navb {
  justify-content: left;
  width: 100%;
  margin: 0 0 0 0;
}
.endingline{

}
.copyright{
  text-align:center;
  margin: 35px auto 35px auto;
  
}
.top-container {
  display: inline-block;
  text-align: left;
  position: relative;
  margin-top: 8rem;
  margin-left: 10rem;
  margin-bottom: 5rem;

}

.top-container-text {
  font-size: 1.1rem;
  line-height: 1.8125rem;
  color: #652cdf;
}
.top-container-text::before {
  content: " ";
  display: inline-block;
  width: 3.4375rem;
  height: 0.125rem;
  border-radius: 1.25rem;
  background: #652cdf;
  top: 4.9%;
  position: relative;
  margin-bottom: 0.3rem;
}
.NameStart{
  position: relative;
  font-size: 2.25rem;
  line-height: 2.25rem;
  margin: 0.125rem;
  color: #ffffff;
}
.Big-Name {
    top:2rem;
    position:relative ;
    font-size: 3.5rem;
    line-height: 3rem;
    margin: 0.125rem;
    color:#FFFFFF;
    font-weight: 700;
  }   
   
  .wrapper{
    display: flex;
  }
  .wrapper .dynamic-txts{
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  .dynamic-txts li{
    list-style: none;
    color: #FFF;
    /* font-size: 60px; */
    /* font-weight: 700; */
    /* position: relative; */
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .dynamic-txts li span{
    position: relative;
  
    line-height: 90px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #0C0A10;
    border-left: 2px solid #652CDF;
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }
.line1 {
  position: relative;
  font-size: 1.125rem;
  line-height: 1.25rem;
  padding-top:7rem;
  color: #40514e;
  padding-bottom:0.5rem;
}
.button {
  display: inline-block;
  border-radius: 0.25rem;
  background-color: #652cdf;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 0.75rem;
  line-height: 0.875rem;
  padding: 0.625rem;
  width: 6.25rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2.5rem;
  margin-left: 0;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 1.5625rem;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
.landing {
  display: flex;
  margin-bottom: 100px;
  
}
.image1 {
  position: relative;
  width: 21rem;
  height: 21.875rem;
  margin-top: 11rem;
  margin-left: 20rem;
  
}
.love{
  position: relative;
  left:2.5rem;
  right: 2.5rem;
  bottom:2rem;
}

@media (max-width: 1049px) {
  html {
    font-size: 85%;
  }
}
@media (max-width: 998px) {
  html {
    font-size: 75%;
  }
  .image1 {
    width: auto;
    height: auto;
  }
}
@media (max-width: 778px) {
  html {
    font-size: 80%;
  }
  .landing {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .image1 {
    position: relative;
    width: 21rem;
    height: 21.875rem;
    margin-top: 11rem;
    margin-left: -11rem;
  }
}
@media (max-width: 440px) {
  html {
    font-size: 50%;
  }
  .landing {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .image1 {
    position: relative;
    width: 21rem;
    height: 21.875rem;
    margin-top: 11rem;
    margin-left: 0;
  }
}

.segment1 {
    display:flex;
    justify-content:space-between;
}
.row1 {
    display:flex;
}
.whatido {
    padding-top:100px;
    padding-right:115px;
}

.first {
    width:55px;
    height:2px;
    background:
    #652CDF;
    border-radius:4px;
}
.second {
    padding-left:5px;
    font-size:18px;
    line-height:2px;
    color:#652CDF;
}


.box {
    padding-top: 30px;
}

.box1 {
    position:relative;
    width:244px;
    height:156px;
    left:150px;
    background: #131118;
    border-radius:10px;
}

.box2 {
    position:relative;
    width:244px;
    height:155px;
    left:450px;
    bottom:2%;
    background:#131118;
    border-radius:10px;
}
.box3 {
    position:relative;
    width:244px;
    height:156px;
    left:150px;
    bottom: 20%;
    background:#131118;
    border-radius:10px;
    bottom:100px;
}
.box_info {
    position:relative;
    width:200px;
    top:50px;
    left:30px;
    background:#131118;
}
.box img {
    background:#131118;
}
.box1_info {
    position:absolute;
    background:#131118;
    padding-left:30px;
    font-family: 'Inter', sans-serif;
    font-size:18px;
    color:#FFFFFF;
}
.box2_info {
    position:absolute;
    background:#131118;
    padding-left:20px;
    font-family: 'Inter', sans-serif;
    font-size:18px;
    color:#FFFFFF;
}
.box3_info {
    position:absolute;
    background:#131118;
    padding-left:30px;
    font-family: 'Inter', sans-serif;
    font-size:18px;
    color:#FFFFFF;
}
.ele {
   position:relative;
   width:304px;
   font-size: 20px;
   color:#fff;
}
.para1 {
   padding-top:10px;
}
.para1_info {
    position:relative;
    font-style:normal;
    width:350px;
    padding-top:5px;
    font-weight:600;
    font-size:20px;
    line-height:171.02%;
    color:#858487;
    
}
.segment2 {
    display:flex;
    padding-top:60px;
    padding-left:150px;
    padding-bottom:200px;
   
}
.aboutme {
    display:inline-grid;
    grid-row-gap:5px;
    
}
.hea {
   width:23rem;
   font-size: 20px;
   color:#fff;
}


.p2 {
    color:#858487;
    width:483px;
    font-size:20px;
    line-height:24px;
    
}

.ro1 {
    display:flex;
    justify-content: space-between;
    width:400px;
    
}
.ro2{
    display:flex;
    justify-content: space-between;
    width:399px;
}

.f1,.s1 {
    color:#652CDF;

}
.point {
    padding-left:10px;
    color:#FFFFFF;
    font-weight:bold;
    font-size:18px;
    line-height:22px;

}
.s2 {
    color:#652CDF;
    padding-top:30px;
    padding-right:8px;
}
.f2 {
    color:#652CDF;
    padding-top:30px;
}

.en {
    display:flex;
    align-items: center;
    justify-content:space-between ;
    width:300px;
    padding-top:10px;
   
}

.footer2 {
    font-weight:bold;
    font-size:15px;
    line-height:22px;
    color:#652CDF;
    cursor:pointer;
    
}

.car{
  padding-top:200px;
}
.car1 {
    position:absolute;
    width:250px;
    height:165px;
    left:685px;
    top: 1320px;
    background:#131118;
    border-radius:6px;
    
}
.car1_img {
    position:relative;
    top:15px;
    left:15px;
    width:220px;
    height:134.16px;
}


.car2 {
    position:absolute;
    width:221px;
    height:328px;
    left:950px;
    top:1320px;
    background:#131118;
    border-radius:6px;
}
.car2_img {
    position:relative;
    width:188.17px;
    height:297.88px;
    top:15px;
    left:20px;
    border-radius:6px;
}

.car3  {
    position:absolute;
    width:221px;
    height:328px;
    left:713px;
    top:1500px;
    background:#131118;
    border-radius:6px;
}
.car3_img {
    position:relative;
    width:188.17px;
    height:297.88px;
    top:15px;
    left:20px;
    border-radius:6px;
}

.car4 {
    position:absolute;
    width:221px;
    height:260px;
    left:950px;
    top:1660px;
    background:#131118;
    border-radius:6px;
    
}
.car4_img {
    position:relative;
    width:181.17px;
    height:221.93px;
    top:20px;
    left:20px;
    border-radius:6px;
}



@media screen and (max-width:767px)
{
  .segment1 {
      display:flex;
      flex-direction:column-reverse;
  }
  .whatido {
      padding-top:20px;
      padding-left:80px;
  }
  .first {
      width:35px;
  }
  .second {
      font-size:15px;
  }
  .ele {
    font-size:15px;
  }
  .para1_info {
      font-size:15px;
      width:200px;
  }
  .box {
      display:flex;
      flex-direction:column;
  }  
 
  .box1 {
      top:20px;
      left:60px;
  }
  .box2 {
      top:50px;
      left:60px;
  }
  .box3 {
      top:80px;
      left:60px;
  }
  .segment2 {
      flex-direction:column;
      padding-left:80px;
      padding-bottom:20px;
  }
  .aboutme {
      padding-top:90px;
  }
  .hea {
      width:300px;
      font-size:15px;
  }
  .p2 {
      font-size:15px;
      width:250px;
      padding-top:5px;
  }
  .ro1 {
      font-size:15px;
      flex-direction:column;
  }
  .ro2 {
      font-size:15px;
      flex-direction:column;
  }
  .s1 {
      padding-top:30px;
  }
  .f2 {
      padding-bottom:4px;
  }
 
  .end2 {
      padding-right:50px;
  }
  .car {
      display: none;
  }
}
 
@media screen and (min-width:768px) and (max-width:1023px)
{
  .segment1{
      display:flex;
      flex-direction:row;
  }
  .whatido {
      padding-left:200px;
  }
  .change1 {
      width:350px;
  }
  .box {
      display:flex;
      flex-direction:column;
  }
  .box1 {
      left:60px;
  }
  .box2 {
      top:15px;
      left:60px;
  }
  .box3 {
      top:30px;
      left:60px;
  }
  .segment2 {
      padding-left:30px;
  }
  .aboutme {
      padding-left:30px;
      padding-top:100px;
  }
  .change2 {
      width:300px;
  }
  .p2 {
      width:300px;
      padding-top:20px;
  }
  .ro1 {
      flex-direction:column;
  }
  .ro2 {
      flex-direction:column;
  }
  .s1 {
      padding-top:30px;
  }
  .f2 {
      padding-bottom:4px;
  }
  .car1 {
      top:1540px;
      left:400px;
      width:175px;
      height:150px;
     
  }
  .car1_img {
      width:150px;
      height:120px;
      top:15px;
      left:11px;
     
  }
  .car2 {
      top:1540px;
      left:590px;
      width:175px;
  }
  .car2_img {
      width:145px;
      left:15px;
  }
  .car3 {
      top:1700px;
      left:400px;
      width:175px;
  }
  .car3_img {
      width:145px;
      left:15px;
  }
  .car4 {
      top:1880px;
      left:590px;
      width:170px;
  }
  .car4_img {
      width:150px;
      left:10px;
  }
}
 
 

      
            /*Satyam Part*/

/* *{
    margin: 0px;
    padding: 0px;
   
}
body{
    background: #0C0A10;
    height: 100vh;
}
 .header{
position: relative;
}
.header{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.line{
    margin:0;
}
.line::before{
content: "";
width: 55px;
height: 3px;
top:50%;
background: #652CDF;
border-radius: 4px;
position: absolute;
}
.testimonials-text, .contact-me-text{
    margin-left: 60px;
}
.white{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
}
.Experiences{
    margin-left: 150px;
    margin-right: 157px;
    width: 603px;
    overflow: hidden;     
}
.cards{
position: absolute;
height:100%;
width: 100%;
object-fit: cover;
}
.card-container
{
 position: relative;  
 height:300px;
 transition: transform 300ms ease-in;
}
.bold-heading{
font-size: 33px;
line-height: 40px;
margin-top: 20px;
}
.contactMe .bold-heading
{
margin-top:18px ;
}
#Company-Name{
    font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
margin-top: 70px;
color: #858487;
}
.purple{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    color: #652CDF;
}
#Year{
  
    
font-size: 24px;
line-height: 29px;
margin-top: 5px;
}
.details{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 184.52%;
    color: #858487;
    margin-top: 27px;
    margin-bottom: 10px ;
}
.scroll{
    display: flex;
    justify-content: space-around;
    margin-top: 74px;
}
.scroll-panel{
    width: 346px;
    height: 0px;
    margin: 0;
    padding: 0;
    border: 4px solid #131118;
    
}
.nav-scroll{
    width: 116px;
    margin: 0;
    padding: 0;
    height: 0px;
    border: 4px solid rgba(101, 44, 223, 0.7);
    position: absolute;
    margin-top: -4px;
    margin-left: -3px;
    transition: transform 300ms ease-in;
}
button{
    background: transparent;
    border: 0;
    cursor: pointer;
}
button :focus{
    background: transparent;
}
.skills{
    margin-top:259px ;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}
img{
    margin: 0px 10px;
}
.progressbar{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px dashed rgba(101, 44, 223, 0.2);
    box-sizing: border-box;
}
.circle{
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 121.43px;
    height: 121.43px;
}
svg .inner-circle{
    cx: 61;
    cy: 60;
    r: 56;
    fill:none;
    stroke: #652CDF;
    stroke-width: 4;
    stroke-dasharray: 352;
    stroke-dashoffset: 352;
    
}
.progressbar span{
    position: absolute;
}
.progressbar .percentage{
    font-family: Quicksand;
   top:28.54px;
   font-size: 36px;
line-height: 45px;
}
#skillname{
    top:74.29px;
    font-size: 14px;
    line-height: 17px;
}
@keyframes anim1 {
    100%{
        stroke-dashoffset: 17.6;
    }
}
@keyframes anim2 {
    100%{
        stroke-dashoffset: 35.2;
    }
}
@keyframes anim3 {
    100%{
        stroke-dashoffset: 88;
    }
}
@keyframes anim4 {
    100%{
        stroke-dashoffset: 176;
    }
}
.contactMe{
    margin-top: 238px;
    margin-left: 177px;
    display: flex;
    flex-direction: row;
}
.contactDetails{
    width: 620px;
    
}
.personalInfo{
    position: relative;
    display: flex;
    flex-direction: column;
}
.personalInfo span{
    text-align: center;
    margin: auto;
}
.personalInfo img{
 
}
.logos{
    display: inline-block;
    width: 35px;
height: 35px;
background-color: rgba(101, 44, 223, 0.2);
border-radius: 6px;
}
.Infos{
    font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
color: #858487;
margin-top: 27px;
}
.form{
    width: 376px;
}
.form-elements{
    width: 100%;
    height: 24px;
    font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
background: #131118;
border-radius: 6px;
border: none;
padding: 33px;
color: #858487;
}
#form-email{
    margin-top: 35px;
}
#form-subject{
    margin-top: 28px;
}
#form-message{
    margin-top: 36px;
    height: 178px;
}
.form button{
    width: 133px;
height: 47px;
border: 2px solid #652CDF;
box-sizing: border-box;
color: #652CDF;
margin-top: 59px;
border-radius: 6px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
@media only screen and (max-width:480px) {
   *{
        margin:auto;
        
    }
    body{
        background-color: rgb(154, 236, 209);
    }
    .Experiences{
        margin: auto;
        width: 90%;
        align-items: center;
    }
   
    .contactMe{
        width: 100%;
        flex-direction: column;
        margin: 0;
    }
    
    .contactDetails{
        width: 100%;
    }
    .form{
        width:100%;
    }
    .form-elements{
        width: 80%;
        padding: 10%;
    }
} */